/* Base style for the bullets */
.custom-bullet {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border: 3px solid #EF294C;
  margin-top: 20px;
}

/* Style for the active bullet */
.swiper-pagination-bullet-active.custom-bullet {
  background-color: #ef294c;
  /* transform: scale(1.3); */
}

/* Add margin-top to the pagination container */
.swiper-pagination {
  margin-top: 50px; /* Adjust the value as needed */
}
